%section.ten-oh-announcement
  .ten-oh-label
    %span 10.8
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              In this month’s release of GitLab 10.8, we've added incremental rollouts, open sourced push mirroring, interactive security reports, group milestone burndowns, and much more!
            .btn-group
              %a.btn.cta-btn.ghost{href: "/2018/05/22/gitlab-10-8-released/"}
                See what’s new
